@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body{
    background: url('https://c.tenor.com/lEuZK57PtxIAAAAC/space-stars.gif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.amongus {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    transition-duration: 0.5s;
    font-family: 'Roboto Mono', monpspace;
    filter: blur(0px);

}

.amongus:hover {
    background-color: white;
    color: black;
    border-radius: 15px;
    transition: 0.5s;
    transform: translateY(-15%)
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    color: white;
    text-align: center;
    font-size: 60px;
    top: 50%;
    left: 50%;
    width: 100%;
    transition: 0.9s;
}

h1:hover {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 20px;
    padding: 
    5px;
    transition: 0.9s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monpspace;
}

#type {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monpspace;
}

.amongus2 {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    transition-duration: 0.5s;
    font-family: 'Roboto Mono', monpspace;
    width: 70%;
    position: relative;
    filter: blur(0px);
    display: flex;

}

.amongus2:hover {
    background-color: white;
    color: black;
    border-radius: 15px;
    transition: 0.5s;
    transform: translateY(-15%)
}